body {
    margin: 0;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#canvas {
    border: 2px solid #c7e9ff;
    background: #ffffff;
}